h3
{
    font-size: 25px !important;
}

.btn-sucess:hover
{
    background-color: aquamarine;
}

canvas
{
    animation-name: Bob;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes Bob
{
    from {box-shadow: 1px 1px, 38px red;}
    to {box-shadow: 1px 1px 38px blueviolet;}
}